<div class="mb-3 mt-3" style="display: flex; border-radius: .5rem">
  <%= render 'home/sidebar' %>
  <%= form_with(model: @user) do |f| %>
    <% if @user.errors.any? %>
      <div id='error_explanation'>
        <h2><%= pluralize(user.errors.count, 'error') %> prohibited this user from being saved:</h2>
        <ul>
          <% @user.errors.full_message.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="card" style="border-radius: .5rem;">
      <div class="row g-0">
        <div class="col-md-12">
          <div class="card-body p-4">
            <h5 class='section_title'>Onboarding</h5>
            <hr class="mt-0 mb-4">

            <div class="actions">
              <h6 style="text-align: center"> We will contact you via e-mail with the introduction packet detailing your location and steps to the United States, including housing options.</h6>
              <h6 style="text-align: center; font-size: 20px">WELCOME TO THE USA! </h6>
            </div>

          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>