<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-body-secondary">&copy; 2023 Global Nursing Talent, Inc</p>

    <ul class="nav justify-content-end">
      <li class="nav-item">
        <%= link_to 'Terms of Use', home_terms_of_use_path, class:'nav-link px-2 text-body-secondary' %>
      </li>
      
      <li class="nav-item">
        <%= link_to 'Privacy Policy', home_privacy_policy_path, class:'nav-link px-2 text-body-secondary' %>
      </li>
      
      <li class="nav-item">
        <%= link_to 'State Law Privacy Rights', home_state_law_privacy_policy_path, class:'nav-link px-2 text-body-secondary' %>
      </li>
    </ul>
  </footer>
</div>
