<div>
  <div class="card" style='margin: 10px'>
    <%= image_tag('ta_logo.png', style:'width:250px; height:150px') %>
    <div class="card-body"> 
      <p class="card-text"> 
        <span style="font-size:20px; font-weight:bold">Talent Angels America</span>
        is a trusted provider of employment services for Registered Nurses and Business Process Outsourcing.
        <div> 
          We have a highly trained team of healthcare, immigration and language experts with an unwavering dedication to the welfare of our healthcare professionals.
        </div>
      </p>
    </div>
  </div>

  <div style='display: flex; height: 25%'>

    <div class="card" style='width: 25%; margin-left: 10%; margin-right: 10%'>
      <%= image_tag('ta_logo.png', style:'width:250px; height:150px') %>
      <div class="card-body" style="text-align: center">
        <h5 class="card-title">Andrea Karstetter</h5>
        <p class="card-text">
          <div style="font-size:20px; font-weight:bold">CO-FOUNDER</div>
          <div style="font-size:20px; font-weight:bold">INTERNATIONAL LAW</div>
          Working alongside the World Health Organization,  Doctors Without Borders and Ministries of Health around the world, as well as training in international and US immigration law, Andrea provides in-house expertise on the pathways to arrive in the United States to pursue your career in healthcare.  
        </p>
      </div>
    </div>

    <div class="card" style="width: 25%; margin-left: 10%; margin-right: 10%">
      <%= image_tag('ta_logo.png', style:'width:250px; height:150px') %>
      <div class="card-body" style="text-align: center">
        <h5 class="card-title">Jessica Graves</h5>
        <p class="card-text">
          <div style="font-size:20px; font-weight:bold">CO-FOUNDER</div>
          <div style="font-size:20px; font-weight:bold">NURSE, BSN, RN</div>
          Over a decade of experience  spanning various specialties, healthcare settings, and across multiple states, Nurse Jessica has cultivated expertise in hospital systems, the journey of becoming a Nurse, and the inspiring dimensions of life as a nurse in the United States.
        </p>
      </div>
    </div>

  <div>
</div>
