<h2 style="text-align:center"> Privacy Policy </h2>

<p>
  <ul>
    <h5> 1. Introduction </h5>
    <p>
      &emsp; a. This Privacy Policy outlines the commitment of TALENT ANGELS to protect the privacy of individuals.  
    </p>
    <p>
      &emsp; b. It applies to all personal information collected by THIS SITE, including all subdomains and related domains.  The Information includes information that identifies you as an individual or relates to an identifiable individual.
    </p>
    <p>
      &emsp; c. This Privacy Policy does not apply to Information collected in any other way (whether offline or online) by TALENT ANGELS, unless expressly indicated. It does not apply to information collected by any other website operated by Company or any third party, including through any application or content (including advertising) that may link to or be accessible from or on the Website.
    </p>
  </ul>

  <ul>
    <h5> 2. Information Collection </h5>  
    &emsp; a. TALENT ANGELS may collect personal information such as names, addresses, telephone numbers, email addresses, and professional credentials. This information may be collected via THIS SITE, email, phone, or through third-party services. 
  </ul>

  <ul>
    <h5> 3. Use of Information </h5>  
    &emsp; a. The personal information collected by TALENT ANGELS may be used for the purpose of providing services offered on THIS SITE, including job placement, workforce solutions, and facilitating the hiring process. It also aids in personalizing the user experience, improving customer service, and communicating with users regarding services that may be of interest.
  </ul>

  <ul>
    <h5> 4. Gathering of Personal Information </h5> 
    <p>
      &emsp; a. TALENT ANGELS may collect personal information from users in a variety of ways, including, but not limited to, when users visit THIS SITE, register on THIS SITE, subscribe to the newsletter, respond to a survey, sign-up for webinars, filling out forms, and in connection with other activities, services, features, or resources made available on THIS SITE.  
    </p>
    <p>
      &emsp; b. Users may be asked for, as appropriate, their name, email address, mailing address, phone number, professional credentials, and payment information.
    </p>
    <p>
      &emsp; c. Personal information may be collected from users if they submit such information. Users can refuse to supply personal information, though it may prevent them from engaging in certain site-related activities.
    </p>
  </ul>

  <ul>
    <h5> 5. Information Sharing & Disclosure </h5>  
    &emsp; a. Information gathered by TALENT ANGELS may be shared, or disclosed, with third parties in the following ways:
    <p> 
      &emsp; &emsp; i. To clients, affiliates, partners, third-party service providers, or employers as necessary for the provision of services or employment opportunities.
    </p>

    <p>
      &emsp; &emsp; ii. To service providers who assist in our business operations (such as payment processors or background check companies).
    </p>

    <p>
      &emsp; &emsp; iii. In the event of a merger, acquisition, or sale of all or a portion of our assets.
    </p>

    <p>
      &emsp; &emsp; iv. When legally required to do so, to comply with a subpoena, or similar legal process.
    </p>

    <p>
      &emsp; &emsp; v. When TALENT ANGELS believes in good faith that disclosure is necessary to protect rights, protect your safety, safety of the company, safety of its users, or the safety of others, investigate fraud, or respond to a government request.
    </p>
  </ul>

  <ul>
    <h5> 6. Data Security </h5>  
    &emsp; a. TALENT ANGELS may take reasonable measures to protect personal information against unauthorized access, alteration, disclosure, or destruction. These measures may include, but are not limited to, encryption, secure socket layer (SSL) technology, and secured servers. 
  </ul>

  <ul>
    <h5> 7. User Rights and Choices </h5>  
    &emsp; a. Users of THIS SITE have the right to access, correct, update, or request deletion of their personal information. They may also opt out of receiving marketing communications or having their information shared for marketing purposes.
  </ul>

  <ul>
    <h5> 8. Cookies and Tracking Technology </h5> 
    &emsp; a. TALENT ANGELS may utilize cookies, beacons, tags, and scripts to analyze trends, administer the website, track users \ movements around the site, and gather demographic information about the user base as a whole.
  </ul>

  <ul>
    <h5> 9. Policy Updates </h5>
    &emsp; a. TALENT ANGELS may update this Privacy Policy from time to time. Users are encouraged to frequently check this page for any changes and to stay informed about how the personal information may be protected. 
  </ul>

  <ul>
    <h5> 10. Contact Information & Notices </h5>
    <p>
      &emsp; a. For questions regarding this Privacy Policy or the practices of THIS SITE, or to make a complaint, users can contact TALENT ANGELS through the provided contact information on THIS SITE.  
    </p>

    <p>
      &emsp; b. All notices, requests, demands or other communications shall be made in writing and shall be sent through our Contact Us form, mail, or via e-mail with subject “Legal” and recipient’s address (email or mailing address). Return notice may be provided via posting on this site, last known address, or direct return contact to the address provided. 
    </p>
  </ul>

  <ul>
    <h5> 11. Additional Clauses </h5>
    &emsp; a. This Privacy Policy has been supplemented with additional clauses tailored to the data protection laws and regulations of certain countries and states. These clauses may become applicable in scenarios where we extend our services and marketing efforts to those regions, or if we identify that we are processing the data of residents from such jurisdictions. We do our best to comply with international data protection standards. For instance, we may adapt our practices to meet legal requirements as we expand our target audience or engage in international marketing activities. We do our best to be proactive in ensuring that our policies reflect the dynamic landscape of global data privacy.  
    <p> 
      &emsp; &emsp; i. United States-Specific Privacy Considerations: California, New York, Virginia, Colorado, Connecticut, Utah Add-On Clauses
    </p>

    <p> 
      &emsp; &emsp; &emsp; &emsp; 1. For California Residents: Residents may have additional rights under the California Consumer Privacy Act (CCPA), including the right to be informed about the collection of personal data, the right to request the deletion of personal data, and the right to opt out of the sale of personal data. Under the "Shine the Light" law, residents may request disclosure of personal information shared with third parties for direct marketing purposes. If you are a California resident, you have the right to receive: a) information identifying any third party company(ies) to whom TALENT ANGELS may have disclosed, within the past year, personal information pertaining to you and your family for the company's direct marketing purposes; and b) a description of the categories of personal information disclosed. To obtain such information, please email your request to TALENT ANGELS's contact email. 
    </p>
    
    <p> 
      &emsp; &emsp; &emsp; &emsp; 2. For New York Residents: The SHIELD Act may impose certain obligations on our data breach notification procedures and data security protections tailored to safeguard the private information of New York residents.
    </p>

    <p> 
      &emsp; &emsp; &emsp; &emsp; 3. For Virginia Residents: The Consumer Data Protection Act (CDPA) may afford residents the rights to access, correct, and delete personal data, as well as to opt out of the processing of personal data for purposes such as targeted advertising or profiling. 
    </p>
    <p> 
      &emsp; &emsp; &emsp; &emsp; 4. For Colorado Residents: Under the Colorado Privacy Act (CPA), residents may have the right to manage their personal data, including access, correction, deletion, and the right to opt out of certain data processing activities.
    </p>
    <p> 
      &emsp; &emsp; &emsp; &emsp; 5. For Nevada Residents: Nevada Online Privacy Law may grant consumers the right to opt out of the sale of certain personally identifiable information collected by a website operator. TALENT ANGELS may then not sell personal information as defined by Nevada law. Nevada residents may email a request for no sale of their personal information.
    </p>
    <p> 
      &emsp; &emsp; &emsp; &emsp; 6. For Massachusetts Residents: Massachusetts law may require that residents be promptly notified in the event of a data breach that could compromise personal information. 
    </p>
    <p> 
      &emsp; &emsp; ii. European Union (EU) and UK Add-On Clause: "Additionally, TALENT ANGELS may adhere to the EU-GDPR and UK-GDPR requirements for Data Protection Impact Assessments (DPIAs) for high-risk processing. Cross-border data transfers may only occur in compliance with EU and UK data transfer mechanisms to ensure an adequate level of data protection."
    </p>
    <p> 
      &emsp; &emsp; iii. Mexico Add-On Clause: "TALENT ANGELS further commits to complying with Mexico requirement for the creation of a comprehensive data processing inventory, and the designation of a data protection officer where necessary, to ensure accountability and compliance."
    </p>
    <p> 
      &emsp; &emsp; iv. Chile Add-On Clause: "Furthermore, TALENT ANGELS may align with Chile new regulations under the Bill on the Protection of Personal Data, specifically regarding data subjects new rights and the requirement for data breach notifications to be made in a timely manner."
    </p>

    <p> 
      &emsp; &emsp; v. Singapore Add-On Clause: "TALENT ANGELS may also implement additional measures in accordance with the PDPA's obligation for mandatory data breach notifications and the establishment of a data protection management program to ensure ongoing compliance." 
    </p>

    <p> 
      &emsp; &emsp; vi. Philippines Add-On Clause: "In the Philippines, TALENT ANGELS may align with the National Privacy Commission's guidelines on personal data breach management and ensure the appointment of a Data Protection Officer to oversee compliance with the Data Privacy Act." 
    </p>

    <p> 
      &emsp; &emsp; vii. Canada Add-On Clause: "For Canada, TALENT ANGELS may address the requirements under PIPEDA's Digital Privacy Act for breach record-keeping and reporting, ensuring that a proper and detailed record of all breaches may be maintained and that the appropriate authorities and affected individuals may be notified in the case of a breach that poses a significant harm."
    </p>
  </ul>
</p>  
  
