<h2 style="text-align:center"> Terms of Use </h2>

<p>
  <ul>
    1. Introduction 
    Welcome to our website. Our organization is engaged in the business of international recruitment, specializing in connecting nurses to employment opportunities in the United States. 
  </ul>

  <ul> 
    2. Services 
    Our services encompass a comprehensive pathway for individuals seeking to establish a nursing career in the USA. This includes facilitating connections with our affiliates that provide language and vocational test preparation, employment opportunities and immigration services.  
  </ul>

  <ul> 
    3. Data Collection and Usage 
    We collect and utilize data from users for the purpose of recruitment screenings, which aids us in determining the appropriate services required by each individual. It is imperative that all information submitted to this website is accurate and truthful. Any documents provided must be authentic. Penalties apply if a user provides falsified information to Talent Angels, employers, immigration authorities, or any of Talent Angels’ affiliates.
  </ul>

  <ul> 
    4. Data Sharing 
    We reserve the right to share certain information provided by users, such as the information provided in the profile and application sections with  our affiliates, including CGFNS, employers, placement affiliates, immigration providers, and any other affiliates. 
  </ul>

  <ul> 
    5. User Conduct 
    Users must be at least 18 years of age to utilize our services. All user-generated content must adhere to standards of respect and professional appropriateness. Any abusive or harassing language is strictly prohibited and may result in suspension of the user's profile. 
  </ul>

  <ul> 
    6. Contact Us 
    For any questions or concerns, users are encouraged to reach out to us via the 'Contact Us’.
  </ul>

  <ul> 
    To remove your user information from our website and database, please send a request to "admin@globalnursingtalent.com" </p>
  </ul>
